<h1> Convert <%= @from_symbol %> to <%= @to_symbol %> </h1>
<p>Go <a href="/forex/<%= @from_symbol %>">back</a>.</p>
<ul>
  <li>
    1 <%= @from_symbol %> equals <%= @rate %> <%= @to_symbol %>.
  </li>
</ul>